<footer>
  <div id="div_links">
    <div class="links">
      <a id="insta" href="https://www.instagram.com/santoconceitostore/" target="_blank">
        <i id="insta" class="bi bi-instagram"></i
      ></a>
      <a href="https://www.linkedin.com/in/luiz-felipe-ribeiro-450942220/" target="_blank">
        <span><i class="bi bi-linkedin"></i></span
      ></a>

      <a href="https://github.com/barizera" target="_blank">
        <span><i class="bi bi-github"></i></span
      ></a>
    </div>
    <div class="links">
      <span id="desenvolvido">Layout desenvolvido por Felipe Bari</span>
    </div>
  </div>
</footer>
