<header>
  <nav id="nav_header">
    <ul id="ul_header">
      <li class="li">
        <a class="a_nav" href="/"
          ><p class="icones_header"><i class="bi bi-house-door-fill"></i></p>
          Home</a
        >
      </li>
      <li class="li">
        <a class="a_nav" href="/register"
          ><p class="icones_header"><i class="bi bi-plus-square-fill"></i></p>
          Cadastrar</a
        >
      </li>
      <li class="li">
        <a class="a_nav" href="#insta"
          ><p class="icones_header"><i class="bi bi-phone-fill"></i></p>
          Contatos</a
        >
      </li>
      <li class="li">
        <a class="a_nav" href="/marca"
          ><p class="icones_header"><i class="bi bi-sunglasses"></i></p> Marca</a
        >
      </li>
    </ul>
  </nav>
</header>
