<section class="modal-overlay" id="overlay">
  <div class="modal" id="modal">
    <div class="modal-header">
      <h3>Remover Óculos</h3>
      <a href="/" id="close-modal-put"><i class="bi bi-x"></i></a>
    </div>
    <div class="modal-body">
      <p>Tem certeza que deseja excluir o Óculos <%= oculosDel.name %> ?</p>
      <div id="buttons-del">
        <a id="no" href="/">Não</a>
        <a id="yes" href="/remove/<%= oculosDel.id %>">Sim</a>
      </div>
    </div>
  </div>
</section>
